# Compiled source #
###################
*.pyc

# Packages #
############
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Subdirs with packages that are handled separately on git
######################
myask/
requests/